
   [Parameters]
matched_MassCBmean =  278.81 C L(200 - 800) 
matched_MassCBsigma =  6.9268 +/- 0.27984 L(1 - 100) 
matched_MassCBalpha1 =  0.86441 +/- 0.058067 L(0 - 20) 
matched_MassCBn1 =  18.792 +/- 3.8364 L(0 - 20) 
matched_MassCBalpha2 =  1.0703 +/- 0.039451 L(0 - 20) 
matched_MassCBn2 =  5.0306 +/- 2.9431 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -60.3562 L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 8.7042 L(200 - 800) 
unmatched_Mass_stop =  81.533 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  14.274 L(0 - 500) 
unmatched_MassCBalpha = -0.474046 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.78446 L(0 - 1) 

   [Observables]
