
   [Parameters]
matched_MassCBmean =  200.14  L(180 - 800) 
matched_MassCBsigma =  4.8387 +/- 0.37612 L(1 - 100) 
matched_MassCBalpha1 =  0.92487 +/- 0.13715 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 16.888 L(0 - 20) 
matched_MassCBalpha2 =  1.0682 +/- 0.088322 L(0 - 20) 
matched_MassCBn2 =  7.1862 +/- 2.5886 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -10.0890 L(-800 - -1) 
unmatched_Mass_turn =  210.00 L(200 - 800) 
unmatched_Mass_stop =  100.0000 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  16.952 L(0 - 500) 
unmatched_MassCBalpha = -0.756577 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.73554 L(0 - 1) 

   [Observables]
