
   [Parameters]
matched_MassCBmean =  381.18 C L(200 - 800) 
matched_MassCBsigma =  14.316 +/- 0.40380 L(1 - 100) 
matched_MassCBalpha1 =  0.83891 +/- 0.053921 L(0 - 20) 
matched_MassCBn1 =  6.4174 +/- 0.38216 L(0 - 20) 
matched_MassCBalpha2 =  0.93382 +/- 0.039502 L(0 - 20) 
matched_MassCBn2 =  4.3212 +/- 0.31273 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -40.7673 L(-800 - -1) 
unmatched_Mass_turn =  260.00 L(200 - 800) 
unmatched_Mass_stop =  210.14 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  13.888 L(0 - 500) 
unmatched_MassCBalpha = -0.369697 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.83475 L(0 - 1) 

   [Observables]
