
   [Parameters]
matched_MassCBmean =  304.78 C L(200 - 800) 
matched_MassCBsigma =  8.2995 +/- 0.27833 C L(1 - 100) 
matched_MassCBalpha1 =  0.85361 +/- 0.049661 C L(0 - 20) 
matched_MassCBn1 =  14.716 +/- 0.93618 C L(0 - 20) 
matched_MassCBalpha2 =  1.0456 +/- 0.035083 C L(0 - 20) 
matched_MassCBn2 =  4.5570 +/- 1.5275 C L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -55.4590 C L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 13.773 C L(200 - 800) 
unmatched_Mass_stop =  114.61 C L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  13.458 C L(0 - 500) 
unmatched_MassCBalpha = -0.421010 C L(-10 - 10) 
unmatched_MassCBn =  5.7389 C L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.79987 C L(0 - 1) 

   [Observables]
