
   [Parameters]
matched_MassCBmean =  355.96 C L(200 - 800) 
matched_MassCBsigma =  11.994 +/- 0.41858 L(1 - 100) 
matched_MassCBalpha1 =  0.84266 +/- 0.063309 L(0 - 20) 
matched_MassCBn1 =  8.5285 +/- 0.57530 L(0 - 20) 
matched_MassCBalpha2 =  0.97374 +/- 0.043234 L(0 - 20) 
matched_MassCBn2 =  4.2023 +/- 0.58165 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -45.6645 L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 4.1314 L(200 - 800) 
unmatched_Mass_stop =  178.91 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  13.265 L(0 - 500) 
unmatched_MassCBalpha = -0.372392 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.82502 L(0 - 1) 

   [Observables]
