
   [Parameters]
matched_MassCBmean =  330.49 C L(200 - 800) 
matched_MassCBsigma =  9.9885 +/- 0.35580 C L(1 - 100) 
matched_MassCBalpha1 =  0.84696 +/- 0.064576 C L(0 - 20) 
matched_MassCBn1 =  11.295 +/- 1.4947 C L(0 - 20) 
matched_MassCBalpha2 =  1.0122 +/- 0.046792 C L(0 - 20) 
matched_MassCBn2 =  4.2809 +/- 0.58476 C L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -50.5618 C L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 6.1535 C L(200 - 800) 
unmatched_Mass_stop =  147.07 C L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  13.122 C L(0 - 500) 
unmatched_MassCBalpha = -0.388587 C L(-10 - 10) 
unmatched_MassCBn =  5.7389 C L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.81339 C L(0 - 1) 

   [Observables]
