
   [Parameters]
matched_MassCBmean =  430.86 C L(200 - 800) 
matched_MassCBsigma =  19.909 +/- 0.57133 L(1 - 100) 
matched_MassCBalpha1 =  0.82579 +/- 0.038661 L(0 - 20) 
matched_MassCBn1 =  4.1606 +/- 0.45716 L(0 - 20) 
matched_MassCBalpha2 =  0.86404 +/- 0.035701 L(0 - 20) 
matched_MassCBn2 =  5.1516 +/- 0.24956 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -30.9729 L(-800 - -1) 
unmatched_Mass_turn =  260.25 +/- 7.1236 L(200 - 800) 
unmatched_Mass_stop =  260.00 +/- 2.2170 L(200 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  16.572 L(0 - 500) 
unmatched_MassCBalpha = -0.402209 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.84856 L(0 - 1) 

   [Observables]
