
   [Parameters]
matched_MassCBmean =  479.55 C L(200 - 800) 
matched_MassCBsigma =  26.768 +/- 2.0026 L(1 - 100) 
matched_MassCBalpha1 =  0.79316 +/- 0.034763 L(0 - 20) 
matched_MassCBn1 =  4.5242 +/- 0.49134 L(0 - 20) 
matched_MassCBalpha2 =  0.83173 +/- 0.036326 L(0 - 20) 
matched_MassCBn2 =  6.7718 +/- 0.95172 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -21.1784 L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 2.6597 L(200 - 800) 
unmatched_Mass_stop =  328.84 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  21.175 L(0 - 500) 
unmatched_MassCBalpha = -0.497521 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.85479 L(0 - 1) 

   [Observables]
