
   [Parameters]
matched_MassCBmean =  406.14 C L(200 - 800) 
matched_MassCBsigma =  16.954 +/- 0.46608 L(1 - 100) 
matched_MassCBalpha1 =  0.83388 +/- 0.046371 L(0 - 20) 
matched_MassCBn1 =  4.9615 +/- 0.39326 L(0 - 20) 
matched_MassCBalpha2 =  0.89605 +/- 0.036184 L(0 - 20) 
matched_MassCBn2 =  4.6377 +/- 0.22175 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -35.8701 L(-800 - -1) 
unmatched_Mass_turn =  260.23 +/- 7.4994 L(200 - 800) 
unmatched_Mass_stop =  240.74 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  14.990 L(0 - 500) 
unmatched_MassCBalpha = -0.379438 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.84260 L(0 - 1) 

   [Observables]
