
   [Parameters]
matched_MassCBmean =  503.52 C L(200 - 800) 
matched_MassCBsigma =  30.671 +/- 0.48647 L(1 - 100) 
matched_MassCBalpha1 =  0.76501 +/- 0.018691 L(0 - 20) 
matched_MassCBn1 =  5.6886 +/- 0.33992 L(0 - 20) 
matched_MassCBalpha2 =  0.83864 +/- 0.020266 L(0 - 20) 
matched_MassCBn2 =  7.8782 +/- 1.1101 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -16.2812 L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 26.424 L(200 - 800) 
unmatched_Mass_stop =  356.96 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  24.196 L(0 - 500) 
unmatched_MassCBalpha = -0.579554 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.85507 L(0 - 1) 

   [Observables]
