
   [Parameters]
matched_MassCBmean =  550.71 C L(200 - 800) 
matched_MassCBsigma =  39.429 +/- 0.68117 L(1 - 100) 
matched_MassCBalpha1 =  0.67603 +/- 0.018578 L(0 - 20) 
matched_MassCBn1 =  9.9827 +/- 1.4413 L(0 - 20) 
matched_MassCBalpha2 =  0.91661 +/- 0.033372 L(0 - 20) 
matched_MassCBn2 =  10.684 +/- 4.4533 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -6.48676 L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 27.430 L(200 - 800) 
unmatched_Mass_stop =  411.36 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  31.677 L(0 - 500) 
unmatched_MassCBalpha = -0.848557 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.84996 L(0 - 1) 

   [Observables]
