
   [Parameters]
matched_MassCBmean =  527.24 C L(200 - 800) 
matched_MassCBsigma =  34.892 +/- 0.74234 L(1 - 100) 
matched_MassCBalpha1 =  0.72657 +/- 0.022235 L(0 - 20) 
matched_MassCBn1 =  7.5081 +/- 0.63361 L(0 - 20) 
matched_MassCBalpha2 =  0.86573 +/- 0.028140 L(0 - 20) 
matched_MassCBn2 =  9.1821 +/- 18.536 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -11.3840 L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 23.158 L(200 - 800) 
unmatched_Mass_stop =  384.47 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  27.696 L(0 - 500) 
unmatched_MassCBalpha = -0.693600 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.85346 L(0 - 1) 

   [Observables]
