
   [Parameters]
matched_MassCBmean =  573.93 C L(200 - 800) 
matched_MassCBsigma =  44.282 +/- 0.24027 L(1 - 100) 
matched_MassCBalpha1 =  0.61159 +/- 0.0048880 L(0 - 20) 
matched_MassCBn1 =  13.112 +/- 0.38508 L(0 - 20) 
matched_MassCBalpha2 =  0.99489 +/- 0.010385 L(0 - 20) 
matched_MassCBn2 =  12.382 +/- 0.94733 L(0 - 20) 
matchsel_njets = NULL
unmatched_Mass_start = -1.58953 L(-800 - -1) 
unmatched_Mass_turn =  260.00 +/- 54.534 L(200 - 800) 
unmatched_Mass_stop =  437.63 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  36.136 L(0 - 500) 
unmatched_MassCBalpha = -1.05498 L(-10 - 10) 
unmatched_MassCBn =  5.7389 L(0 - 20) 
unmatchedsel_njets = NULL
N_matched =  0.84457 L(0 - 1) 

   [Observables]
