
   [Parameters]
matched_MassCBmean =  252.60 C L(200 - 800) 
matched_MassCBsigma =  6.9679 +/- 0.23709 L(1 - 100) 
matched_MassCBalpha1 =  0.96290 +/- 0.044955 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 1.0804 L(0 - 20) 
matched_MassCBalpha2 =  1.1569 +/- 0.061420 L(0 - 20) 
matched_MassCBn2 =  7.9391 +/- 1.4891 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -3.46509 +/- 182.52 L(-800 - -1) 
unmatched_Mass_turn =  213.52 +/- 11.109 L(200 - 800) 
unmatched_Mass_stop =  115.54 +/- 10.805 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  15.425 +/- 1.0202 L(0 - 500) 
unmatched_MassCBalpha = -0.457056 +/- 0.064233 L(-10 - 10) 
unmatched_MassCBn =  7.2277 +/- 2.0428 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.68013 +/- 0.0050325 L(0 - 1) 

   [Observables]
