
   [Parameters]
matched_MassCBmean =  550.71 C L(200 - 800) 
matched_MassCBsigma =  41.946 +/- 0.39597 L(1 - 100) 
matched_MassCBalpha1 =  0.67573 +/- 0.0083411 L(0 - 20) 
matched_MassCBn1 =  10.179 +/- 0.90090 L(0 - 20) 
matched_MassCBalpha2 =  0.96180 +/- 0.013755 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 13.025 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -6.54838 +/- 616.66 L(-800 - -1) 
unmatched_Mass_turn =  259.06 +/- 20.607 L(200 - 800) 
unmatched_Mass_stop =  405.46 +/- 8.9729 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  29.660 +/- 2.2092 L(0 - 500) 
unmatched_MassCBalpha = -0.847081 +/- 0.050211 L(-10 - 10) 
unmatched_MassCBn =  6.3416 +/- 1.3874 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84955 +/- 0.0021798 L(0 - 1) 

   [Observables]
