
   [Parameters]
matched_MassCBmean =  278.81 C L(200 - 800) 
matched_MassCBsigma =  7.9285 +/- 0.42807 L(1 - 100) 
matched_MassCBalpha1 =  0.93417 +/- 0.066570 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 2.3433 L(0 - 20) 
matched_MassCBalpha2 =  1.1766 +/- 0.086696 L(0 - 20) 
matched_MassCBn2 =  4.8790 +/- 0.67996 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -5.09744 +/- 4.6610 L(-800 - -1) 
unmatched_Mass_turn =  207.51 +/- 59.139 L(200 - 800) 
unmatched_Mass_stop =  133.62 +/- 40.605 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  3.4325 +/- 1.5500 L(0 - 500) 
unmatched_MassCBalpha = -0.0568192 +/- 0.027427 L(-10 - 10) 
unmatched_MassCBn =  18.952 +/- 18.917 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.92731 +/- 0.0042538 L(0 - 1) 

   [Observables]
