
   [Parameters]
matched_MassCBmean =  381.18 C L(200 - 800) 
matched_MassCBsigma =  15.946 +/- 0.37017 L(1 - 100) 
matched_MassCBalpha1 =  0.99299 +/- 0.039004 L(0 - 20) 
matched_MassCBn1 =  4.8932 +/- 0.42309 L(0 - 20) 
matched_MassCBalpha2 =  1.1085 +/- 0.037541 L(0 - 20) 
matched_MassCBn2 =  3.7971 +/- 0.20387 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -60.6213 +/- 11.429 L(-800 - -1) 
unmatched_Mass_turn =  262.86 +/- 5.7122 L(200 - 800) 
unmatched_Mass_stop =  195.57 +/- 11.196 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  7.5213 +/- 4.3024 L(0 - 500) 
unmatched_MassCBalpha = -0.157839 +/- 0.092446 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 18.793 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.83581 +/- 0.0026466 L(0 - 1) 

   [Observables]
