
   [Parameters]
matched_MassCBmean =  200.12 +/- 0.12949 L(180 - 800) 
matched_MassCBsigma =  4.2689 +/- 0.19479 L(1 - 100) 
matched_MassCBalpha1 =  1.2617 +/- 0.092228 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 13.140 L(0 - 20) 
matched_MassCBalpha2 =  1.0846 +/- 0.10829 L(0 - 20) 
matched_MassCBn2 =  14.113 +/- 6.7489 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -17.5977 +/- 0.099434 L(-800 - -1) 
unmatched_Mass_turn =  200.00 +/- 0.47847 L(200 - 800) 
unmatched_Mass_stop =  17.171 +/- 2.5669 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  6.4226 +/- 0.44822 L(0 - 500) 
unmatched_MassCBalpha = -0.209275 +/- 0.020900 L(-10 - 10) 
unmatched_MassCBn =  8.2114 +/- 1.7331 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.61037 +/- 0.0072558 L(0 - 1) 

   [Observables]
