
   [Parameters]
matched_MassCBmean =  278.81 C L(200 - 800) 
matched_MassCBsigma =  7.5302 +/- 0.22309 L(1 - 100) 
matched_MassCBalpha1 =  0.86967 +/- 0.032570 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 0.57826 L(0 - 20) 
matched_MassCBalpha2 =  1.1019 +/- 0.043319 L(0 - 20) 
matched_MassCBn2 =  6.1824 +/- 0.58339 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -46.1557 +/- 0.89748 L(-800 - -1) 
unmatched_Mass_turn =  247.85 +/- 4.5343 L(200 - 800) 
unmatched_Mass_stop =  102.34 +/- 23.686 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  10.134 +/- 2.1358 L(0 - 500) 
unmatched_MassCBalpha = -0.317996 +/- 0.031725 L(-10 - 10) 
unmatched_MassCBn =  8.5077 +/- 4.2747 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.78947 +/- 0.0034063 L(0 - 1) 

   [Observables]
