
   [Parameters]
matched_MassCBmean =  200.78 +/- 0.073923 L(180 - 800) 
matched_MassCBsigma =  3.7861 +/- 0.062240 L(1 - 100) 
matched_MassCBalpha1 =  1.1500 +/- 0.033356 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 12.980 L(0 - 20) 
matched_MassCBalpha2 =  1.0925 +/- 0.029353 L(0 - 20) 
matched_MassCBn2 =  8.0994 +/- 0.97644 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.66643 +/- 11.774 L(-800 - -1) 
unmatched_Mass_turn =  206.89 +/- 20.961 L(200 - 800) 
unmatched_Mass_stop =  28.414 +/- 6.3939 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  11.701 +/- 0.29966 L(0 - 500) 
unmatched_MassCBalpha = -0.433097 +/- 0.019293 L(-10 - 10) 
unmatched_MassCBn =  7.7577 +/- 0.82083 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.68242 +/- 0.0055832 L(0 - 1) 

   [Observables]
