
   [Parameters]
matched_MassCBmean =  252.60 C L(200 - 800) 
matched_MassCBsigma =  5.7342 +/- 0.29062 L(1 - 100) 
matched_MassCBalpha1 =  0.77450 +/- 0.046837 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 1.4646 L(0 - 20) 
matched_MassCBalpha2 =  1.0572 +/- 0.068085 L(0 - 20) 
matched_MassCBn2 =  5.6110 +/- 0.85950 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -103.616 +/- 17.951 L(-800 - -1) 
unmatched_Mass_turn =  281.13 +/- 3.7327 L(200 - 800) 
unmatched_Mass_stop =  1.0231 +/- 28.805 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  3.2548 +/- 3.3741 L(0 - 500) 
unmatched_MassCBalpha = -0.178865 +/- 0.25898 L(-10 - 10) 
unmatched_MassCBn =  2.5676 +/- 0.74959 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.91491 +/- 0.0051776 L(0 - 1) 

   [Observables]
