
   [Parameters]
matched_MassCBmean =  503.52 C L(200 - 800) 
matched_MassCBsigma =  35.767 +/- 0.95887 L(1 - 100) 
matched_MassCBalpha1 =  0.99911 +/- 0.039856 L(0 - 20) 
matched_MassCBn1 =  4.2836 +/- 0.40717 L(0 - 20) 
matched_MassCBalpha2 =  0.87124 +/- 0.028632 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 1.7482 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -15.5078 +/- 44.947 L(-800 - -1) 
unmatched_Mass_turn =  269.48 +/- 24.769 L(200 - 800) 
unmatched_Mass_stop =  381.86 +/- 27.369 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  36.237 +/- 4.0178 L(0 - 500) 
unmatched_MassCBalpha = -0.655202 +/- 0.10832 L(-10 - 10) 
unmatched_MassCBn =  19.999 +/- 16.747 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82776 +/- 0.0027198 L(0 - 1) 

   [Observables]
