
   [Parameters]
matched_MassCBmean =  430.86 C L(200 - 800) 
matched_MassCBsigma =  23.246 +/- 0.69352 L(1 - 100) 
matched_MassCBalpha1 =  1.0604 +/- 0.049493 L(0 - 20) 
matched_MassCBn1 =  4.5280 +/- 0.44578 L(0 - 20) 
matched_MassCBalpha2 =  0.92638 +/- 0.041371 L(0 - 20) 
matched_MassCBn2 =  5.0022 +/- 0.40927 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -77.1435 +/- 11.934 L(-800 - -1) 
unmatched_Mass_turn =  291.55 +/- 5.3737 L(200 - 800) 
unmatched_Mass_stop =  269.72 +/- 8.8463 L(200 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  28.276 +/- 6.8184 L(0 - 500) 
unmatched_MassCBalpha = -0.534559 +/- 0.13876 L(-10 - 10) 
unmatched_MassCBn =  19.999 +/- 16.432 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.80451 +/- 0.0029998 L(0 - 1) 

   [Observables]
