
   [Parameters]
matched_MassCBmean =  527.24 C L(200 - 800) 
matched_MassCBsigma =  41.156 +/- 1.9448 L(1 - 100) 
matched_MassCBalpha1 =  0.91815 +/- 0.067629 L(0 - 20) 
matched_MassCBn1 =  9.7827 +/- 2.7871 L(0 - 20) 
matched_MassCBalpha2 =  0.87672 +/- 0.069291 L(0 - 20) 
matched_MassCBn2 =  19.996 +/- 18.725 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -27.5782 +/- 22.499 L(-800 - -1) 
unmatched_Mass_turn =  278.32 +/- 31.548 L(200 - 800) 
unmatched_Mass_stop =  376.72 +/- 28.308 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  35.913 +/- 25.082 L(0 - 500) 
unmatched_MassCBalpha = -0.293235 +/- 0.23502 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 17.870 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95425 +/- 0.0022783 L(0 - 1) 

   [Observables]
