
   [Parameters]
matched_MassCBmean =  573.93 C L(200 - 800) 
matched_MassCBsigma =  48.229 +/- 0.44204 L(1 - 100) 
matched_MassCBalpha1 =  0.64177 +/- 0.0077617 L(0 - 20) 
matched_MassCBn1 =  15.246 +/- 2.0374 L(0 - 20) 
matched_MassCBalpha2 =  1.0817 +/- 0.017119 L(0 - 20) 
matched_MassCBn2 =  19.999 +/- 2.0384 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.22590 +/- 129.76 L(-800 - -1) 
unmatched_Mass_turn =  263.13 +/- 19.281 L(200 - 800) 
unmatched_Mass_stop =  259.02 +/- 29.176 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  33.422 +/- 5.4316 L(0 - 500) 
unmatched_MassCBalpha = -0.333610 +/- 0.037404 L(-10 - 10) 
unmatched_MassCBn =  19.997 +/- 12.401 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84840 +/- 0.0020830 L(0 - 1) 

   [Observables]
