
   [Parameters]
matched_MassCBmean =  231.45 C L(180 - 800) 
matched_MassCBsigma =  5.4790 +/- 0.18711 L(1 - 100) 
matched_MassCBalpha1 =  1.0374 +/- 0.049039 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 4.3009 L(0 - 20) 
matched_MassCBalpha2 =  1.0735 +/- 0.055905 L(0 - 20) 
matched_MassCBn2 =  7.5854 +/- 1.1106 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -41.2859 +/- 1.1127 L(-800 - -1) 
unmatched_Mass_turn =  255.38 +/- 0.54227 L(200 - 800) 
unmatched_Mass_stop =  2.8579 +/- 1.1908 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  19.279 +/- 1.0330 L(0 - 500) 
unmatched_MassCBalpha = -0.551518 +/- 0.051208 L(-10 - 10) 
unmatched_MassCBn =  10.243 +/- 2.8124 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.74743 +/- 0.0047964 L(0 - 1) 

   [Observables]
