
   [Parameters]
matched_MassCBmean =  355.96 C L(200 - 800) 
matched_MassCBsigma =  12.154 +/- 0.12072 L(1 - 100) 
matched_MassCBalpha1 =  0.82922 +/- 0.011196 L(0 - 20) 
matched_MassCBn1 =  9.6525 +/- 0.64993 L(0 - 20) 
matched_MassCBalpha2 =  1.0143 +/- 0.012988 L(0 - 20) 
matched_MassCBn2 =  4.5111 +/- 0.14015 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -33.4071 +/- 18.419 L(-800 - -1) 
unmatched_Mass_turn =  241.29 +/- 11.128 L(200 - 800) 
unmatched_Mass_stop =  175.88 +/- 8.7445 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  7.3121 +/- 0.30689 L(0 - 500) 
unmatched_MassCBalpha = -0.137667 +/- 0.0043622 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 2.6617 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.83008 +/- 0.0022840 L(0 - 1) 

   [Observables]
