
   [Parameters]
matched_MassCBmean =  527.24 C L(200 - 800) 
matched_MassCBsigma =  38.128 +/- 1.5076 L(1 - 100) 
matched_MassCBalpha1 =  0.72590 +/- 0.038902 L(0 - 20) 
matched_MassCBn1 =  8.3666 +/- 1.4662 L(0 - 20) 
matched_MassCBalpha2 =  0.90682 +/- 0.063818 L(0 - 20) 
matched_MassCBn2 =  17.963 +/- 16.156 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -9.09249 +/- 10.753 L(-800 - -1) 
unmatched_Mass_turn =  261.05 +/- 21.357 L(200 - 800) 
unmatched_Mass_stop =  391.71 +/- 11.680 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  30.954 +/- 8.2805 L(0 - 500) 
unmatched_MassCBalpha = -1.23083 +/- 1.2930 L(-10 - 10) 
unmatched_MassCBn =  2.7110 +/- 3.7437 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.85530 +/- 0.0025529 L(0 - 1) 

   [Observables]
