
   [Parameters]
matched_MassCBmean =  381.18 C L(200 - 800) 
matched_MassCBsigma =  16.864 +/- 0.20066 L(1 - 100) 
matched_MassCBalpha1 =  1.1720 +/- 0.020754 L(0 - 20) 
matched_MassCBn1 =  4.0199 +/- 0.19258 L(0 - 20) 
matched_MassCBalpha2 =  0.98348 +/- 0.015080 L(0 - 20) 
matched_MassCBn2 =  4.5282 +/- 0.16993 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -87.9151 +/- 30.747 L(-800 - -1) 
unmatched_Mass_turn =  290.02 +/- 14.920 L(200 - 800) 
unmatched_Mass_stop =  183.12 +/- 8.2750 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  22.046 +/- 3.4812 L(0 - 500) 
unmatched_MassCBalpha = -0.393737 +/- 0.023424 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 12.469 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.78890 +/- 0.0028117 L(0 - 1) 

   [Observables]
