
   [Parameters]
matched_MassCBmean =  200.13 +/- 0.12915 L(180 - 800) 
matched_MassCBsigma =  4.2466 +/- 0.20049 L(1 - 100) 
matched_MassCBalpha1 =  1.2416 +/- 0.10306 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 16.338 L(0 - 20) 
matched_MassCBalpha2 =  1.0773 +/- 0.10209 L(0 - 20) 
matched_MassCBn2 =  14.268 +/- 6.4345 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -10.7003 +/- 1.1621 L(-800 - -1) 
unmatched_Mass_turn =  200.00 +/- 5.2591 L(200 - 800) 
unmatched_Mass_stop =  30.269 +/- 4.3951 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  6.7630 +/- 1.1943 L(0 - 500) 
unmatched_MassCBalpha = -0.229586 +/- 0.045534 L(-10 - 10) 
unmatched_MassCBn =  7.5026 +/- 1.5537 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.61201 +/- 0.0072682 L(0 - 1) 

   [Observables]
