
   [Parameters]
matched_MassCBmean =  355.96 C L(200 - 800) 
matched_MassCBsigma =  12.659 +/- 0.27762 L(1 - 100) 
matched_MassCBalpha1 =  0.90812 +/- 0.027846 L(0 - 20) 
matched_MassCBn1 =  7.3157 +/- 0.82315 L(0 - 20) 
matched_MassCBalpha2 =  0.99358 +/- 0.027374 L(0 - 20) 
matched_MassCBn2 =  3.9880 +/- 0.21794 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -145.079 +/- 86.258 L(-800 - -1) 
unmatched_Mass_turn =  319.49 +/- 46.692 L(200 - 800) 
unmatched_Mass_stop =  89.069 +/- 36.787 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  5.3472 +/- 0.61727 L(0 - 500) 
unmatched_MassCBalpha = -0.0774871 +/- 0.011161 L(-10 - 10) 
unmatched_MassCBn =  19.999 +/- 19.933 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.93791 +/- 0.0028367 L(0 - 1) 

   [Observables]
