
   [Parameters]
matched_MassCBmean =  430.86 C L(200 - 800) 
matched_MassCBsigma =  23.162 +/- 0.85354 L(1 - 100) 
matched_MassCBalpha1 =  1.0268 +/- 0.058338 L(0 - 20) 
matched_MassCBn1 =  5.5776 +/- 0.83239 L(0 - 20) 
matched_MassCBalpha2 =  0.96315 +/- 0.053376 L(0 - 20) 
matched_MassCBn2 =  4.0025 +/- 0.36964 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.03946 +/- 521.08 L(-800 - -1) 
unmatched_Mass_turn =  309.76 +/- 15.146 L(200 - 800) 
unmatched_Mass_stop =  200.02 +/- 81.523 L(200 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  52.897 +/- 23.065 L(0 - 500) 
unmatched_MassCBalpha = -0.523722 +/- 0.29407 L(-10 - 10) 
unmatched_MassCBn =  19.996 +/- 11.679 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95059 +/- 0.0024808 L(0 - 1) 

   [Observables]
