
   [Parameters]
matched_MassCBmean =  503.52 C L(200 - 800) 
matched_MassCBsigma =  31.806 +/- 0.16085 L(1 - 100) 
matched_MassCBalpha1 =  0.78705 +/- 0.0050824 L(0 - 20) 
matched_MassCBn1 =  5.1832 +/- 0.12461 L(0 - 20) 
matched_MassCBalpha2 =  0.84123 +/- 0.0056749 L(0 - 20) 
matched_MassCBn2 =  11.927 +/- 0.62059 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -47.8084 +/- 1.6600 L(-800 - -1) 
unmatched_Mass_turn =  268.27 +/- 2.1320 L(200 - 800) 
unmatched_Mass_stop =  338.06 +/- 16.382 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  18.441 +/- 3.3784 L(0 - 500) 
unmatched_MassCBalpha = -0.355169 +/- 0.059825 L(-10 - 10) 
unmatched_MassCBn =  18.983 +/- 10.879 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84667 +/- 0.0013698 L(0 - 1) 

   [Observables]
