
   [Parameters]
matched_MassCBmean =  200.42 +/- 0.18754 L(180 - 800) 
matched_MassCBsigma =  3.2356 +/- 0.22369 L(1 - 100) 
matched_MassCBalpha1 =  0.96384 +/- 0.092338 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 19.845 L(0 - 20) 
matched_MassCBalpha2 =  0.76068 +/- 0.062946 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 14.091 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -5.12357 +/- 37.075 L(-800 - -1) 
unmatched_Mass_turn =  206.03 +/- 13.801 L(200 - 800) 
unmatched_Mass_stop =  14.698 +/- 6.8607 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  8.3530 +/- 4.4531 L(0 - 500) 
unmatched_MassCBalpha = -0.400474 +/- 0.13635 L(-10 - 10) 
unmatched_MassCBn =  2.7155 +/- 0.78565 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.90044 +/- 0.0090113 L(0 - 1) 

   [Observables]
