
   [Parameters]
matched_MassCBmean =  200.80 +/- 0.11412 L(180 - 800) 
matched_MassCBsigma =  3.7551 +/- 0.16493 L(1 - 100) 
matched_MassCBalpha1 =  1.1149 +/- 0.081000 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 12.348 L(0 - 20) 
matched_MassCBalpha2 =  1.0842 +/- 0.079989 L(0 - 20) 
matched_MassCBn2 =  8.1103 +/- 2.0114 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -3.47271 +/- 1.8297 L(-800 - -1) 
unmatched_Mass_turn =  207.44 +/- 8.8782 L(200 - 800) 
unmatched_Mass_stop =  48.201 +/- 8.7718 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  10.089 +/- 0.81917 L(0 - 500) 
unmatched_MassCBalpha = -0.451986 +/- 0.066887 L(-10 - 10) 
unmatched_MassCBn =  5.5647 +/- 1.2405 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.68232 +/- 0.0073754 L(0 - 1) 

   [Observables]
