
   [Parameters]
matched_MassCBmean =  278.81 C L(200 - 800) 
matched_MassCBsigma =  7.9531 +/- 0.28826 L(1 - 100) 
matched_MassCBalpha1 =  0.87161 +/- 0.039481 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 1.2666 L(0 - 20) 
matched_MassCBalpha2 =  1.1378 +/- 0.058065 L(0 - 20) 
matched_MassCBn2 =  5.5671 +/- 0.59966 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -64.0781 +/- 1.9028 L(-800 - -1) 
unmatched_Mass_turn =  253.39 +/- 1.3681 L(200 - 800) 
unmatched_Mass_stop =  105.59 +/- 7.1664 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  17.387 +/- 2.2928 L(0 - 500) 
unmatched_MassCBalpha = -0.511918 +/- 0.089826 L(-10 - 10) 
unmatched_MassCBn =  5.4860 +/- 1.1806 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.70029 +/- 0.0044709 L(0 - 1) 

   [Observables]
