
   [Parameters]
matched_MassCBmean =  573.93 C L(200 - 800) 
matched_MassCBsigma =  51.738 +/- 0.28342 L(1 - 100) 
matched_MassCBalpha1 =  0.84557 +/- 0.0066069 L(0 - 20) 
matched_MassCBn1 =  7.6772 +/- 0.35600 L(0 - 20) 
matched_MassCBalpha2 =  1.2646 +/- 0.015157 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 0.76278 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.18844 +/- 174.83 L(-800 - -1) 
unmatched_Mass_turn =  268.91 +/- 59.195 L(200 - 800) 
unmatched_Mass_stop =  450.24 +/- 11.117 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  45.714 +/- 4.9292 L(0 - 500) 
unmatched_MassCBalpha = -1.00049 +/- 0.073297 L(-10 - 10) 
unmatched_MassCBn =  19.996 +/- 16.458 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82687 +/- 0.0016540 L(0 - 1) 

   [Observables]
