
   [Parameters]
matched_MassCBmean =  550.71 C L(200 - 800) 
matched_MassCBsigma =  46.405 +/- 0.73788 L(1 - 100) 
matched_MassCBalpha1 =  0.82731 +/- 0.019723 L(0 - 20) 
matched_MassCBn1 =  10.056 +/- 1.5892 L(0 - 20) 
matched_MassCBalpha2 =  1.0432 +/- 0.024984 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 1.6042 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.83555 +/- 131.93 L(-800 - -1) 
unmatched_Mass_turn =  278.74 +/- 30.397 L(200 - 800) 
unmatched_Mass_stop =  429.15 +/- 20.698 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  57.090 +/- 8.4419 L(0 - 500) 
unmatched_MassCBalpha = -2.01396 +/- 1.4909 L(-10 - 10) 
unmatched_MassCBn =  13.036 +/- 11.020 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82159 +/- 0.0028727 L(0 - 1) 

   [Observables]
