
   [Parameters]
matched_MassCBmean =  479.55 C L(200 - 800) 
matched_MassCBsigma =  29.155 +/- 0.46342 L(1 - 100) 
matched_MassCBalpha1 =  0.93189 +/- 0.020447 L(0 - 20) 
matched_MassCBn1 =  6.4789 +/- 0.57467 L(0 - 20) 
matched_MassCBalpha2 =  0.82265 +/- 0.017345 L(0 - 20) 
matched_MassCBn2 =  7.2952 +/- 0.65561 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -108.294 +/- 76.454 L(-800 - -1) 
unmatched_Mass_turn =  315.37 +/- 55.028 L(200 - 800) 
unmatched_Mass_stop =  301.49 +/- 31.138 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  9.0680 +/- 1.7279 L(0 - 500) 
unmatched_MassCBalpha = -0.144488 +/- 0.027618 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 19.964 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95472 +/- 0.0019593 L(0 - 1) 

   [Observables]
