
   [Parameters]
matched_MassCBmean =  430.86 C L(200 - 800) 
matched_MassCBsigma =  22.651 +/- 0.32109 L(1 - 100) 
matched_MassCBalpha1 =  0.89628 +/- 0.017857 L(0 - 20) 
matched_MassCBn1 =  5.9435 +/- 0.40670 L(0 - 20) 
matched_MassCBalpha2 =  1.0540 +/- 0.020581 L(0 - 20) 
matched_MassCBn2 =  3.8634 +/- 0.16131 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -64.4856 +/- 19.566 L(-800 - -1) 
unmatched_Mass_turn =  266.11 +/- 9.0250 L(200 - 800) 
unmatched_Mass_stop =  257.05 +/- 7.0164 L(200 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  9.3468 +/- 2.9776 L(0 - 500) 
unmatched_MassCBalpha = -0.210129 +/- 0.024107 L(-10 - 10) 
unmatched_MassCBn =  8.1013 +/- 3.2977 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84568 +/- 0.0023665 L(0 - 1) 

   [Observables]
