
   [Parameters]
matched_MassCBmean =  550.71 C L(200 - 800) 
matched_MassCBsigma =  44.643 +/- 1.9658 L(1 - 100) 
matched_MassCBalpha1 =  0.87862 +/- 0.055263 L(0 - 20) 
matched_MassCBn1 =  7.3828 +/- 1.6719 L(0 - 20) 
matched_MassCBalpha2 =  0.90814 +/- 0.053495 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 15.862 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.00330 +/- 19.746 L(-800 - -1) 
unmatched_Mass_turn =  284.38 +/- 4.1968 L(200 - 800) 
unmatched_Mass_stop =  425.70 +/- 28.519 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  47.093 +/- 8.6111 L(0 - 500) 
unmatched_MassCBalpha = -0.534547 +/- 0.15027 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 17.959 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95559 +/- 0.0023317 L(0 - 1) 

   [Observables]
