
   [Parameters]
matched_MassCBmean =  596.90 C L(200 - 800) 
matched_MassCBsigma =  57.037 +/- 1.1877 L(1 - 100) 
matched_MassCBalpha1 =  0.75754 +/- 0.018720 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 14.260 L(0 - 20) 
matched_MassCBalpha2 =  1.1100 +/- 0.043441 L(0 - 20) 
matched_MassCBn2 =  19.999 +/- 13.442 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.01161 +/- 60.457 L(-800 - -1) 
unmatched_Mass_turn =  280.81 +/- 63.290 L(200 - 800) 
unmatched_Mass_stop =  482.88 +/- 68.474 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  39.278 +/- 46.084 L(0 - 500) 
unmatched_MassCBalpha = -0.373940 +/- 0.42796 L(-10 - 10) 
unmatched_MassCBn =  18.097 +/- 11.535 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95529 +/- 0.0021329 L(0 - 1) 

   [Observables]
