
   [Parameters]
matched_MassCBmean =  596.90 C L(200 - 800) 
matched_MassCBsigma =  57.936 +/- 1.6240 L(1 - 100) 
matched_MassCBalpha1 =  0.72947 +/- 0.11197 L(0 - 20) 
matched_MassCBn1 =  19.182 +/- 10.125 L(0 - 20) 
matched_MassCBalpha2 =  1.6254 +/- 0.085780 L(0 - 20) 
matched_MassCBn2 =  13.232 +/- 5.9968 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -3.30690 +/- 2.8998 L(-800 - -1) 
unmatched_Mass_turn =  267.57 +/- 1.4234 L(200 - 800) 
unmatched_Mass_stop =  460.13 +/- 8.6823 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  42.018 +/- 2.0285 L(0 - 500) 
unmatched_MassCBalpha = -0.989598 +/- 0.091230 L(-10 - 10) 
unmatched_MassCBn =  7.6008 +/- 2.6801 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.81970 +/- 0.0027586 L(0 - 1) 

   [Observables]
