
   [Parameters]
matched_MassCBmean =  573.93 C L(200 - 800) 
matched_MassCBsigma =  52.927 +/- 0.56324 L(1 - 100) 
matched_MassCBalpha1 =  1.0034 +/- 0.015686 L(0 - 20) 
matched_MassCBn1 =  6.0644 +/- 0.45778 L(0 - 20) 
matched_MassCBalpha2 =  1.0612 +/- 0.021076 L(0 - 20) 
matched_MassCBn2 =  19.975 +/- 15.672 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.82823 +/- 701.69 L(-800 - -1) 
unmatched_Mass_turn =  274.33 +/- 310.54 L(200 - 800) 
unmatched_Mass_stop =  448.72 +/- 32.457 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  32.295 +/- 11.567 L(0 - 500) 
unmatched_MassCBalpha = -0.243070 +/- 0.058636 L(-10 - 10) 
unmatched_MassCBn =  19.999 +/- 16.645 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95478 +/- 0.0016447 L(0 - 1) 

   [Observables]
