
   [Parameters]
matched_MassCBmean =  210.14 C L(180 - 800) 
matched_MassCBsigma =  3.6811 +/- 0.093114 L(1 - 100) 
matched_MassCBalpha1 =  0.85879 +/- 0.028476 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 3.9538 L(0 - 20) 
matched_MassCBalpha2 =  0.76005 +/- 0.022966 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 3.1407 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -93.9815 +/- 65.584 L(-800 - -1) 
unmatched_Mass_turn =  246.33 +/- 5.2503 L(200 - 800) 
unmatched_Mass_stop =  1.0001 +/- 24.573 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  17.239 +/- 3.0926 L(0 - 500) 
unmatched_MassCBalpha = -0.656038 +/- 0.046902 L(-10 - 10) 
unmatched_MassCBn =  4.9747 +/- 0.53951 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.61952 +/- 0.0060010 L(0 - 1) 

   [Observables]
