
   [Parameters]
matched_MassCBmean =  596.90 C L(200 - 800) 
matched_MassCBsigma =  52.888 +/- 0.31682 L(1 - 100) 
matched_MassCBalpha1 =  0.59285 +/- 0.0046086 L(0 - 20) 
matched_MassCBn1 =  19.752 +/- 3.1427 L(0 - 20) 
matched_MassCBalpha2 =  1.2000 +/- 0.016181 L(0 - 20) 
matched_MassCBn2 =  19.990 +/- 1.8567 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.00004 +/- 55.435 L(-800 - -1) 
unmatched_Mass_turn =  253.71 +/- 64.282 L(200 - 800) 
unmatched_Mass_stop =  353.87 +/- 9.0257 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  34.550 +/- 2.4091 L(0 - 500) 
unmatched_MassCBalpha = -0.485915 +/- 0.014752 L(-10 - 10) 
unmatched_MassCBn =  8.2187 +/- 1.5339 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.84009 +/- 0.0016435 L(0 - 1) 

   [Observables]
