
   [Parameters]
matched_MassCBmean =  479.55 C L(200 - 800) 
matched_MassCBsigma =  31.944 +/- 0.90446 L(1 - 100) 
matched_MassCBalpha1 =  1.1393 +/- 0.054693 L(0 - 20) 
matched_MassCBn1 =  3.7082 +/- 0.37501 L(0 - 20) 
matched_MassCBalpha2 =  0.85384 +/- 0.040660 L(0 - 20) 
matched_MassCBn2 =  13.070 +/- 2.9830 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -60.4799 +/- 37.069 L(-800 - -1) 
unmatched_Mass_turn =  275.76 +/- 12.958 L(200 - 800) 
unmatched_Mass_stop =  349.21 +/- 21.612 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  22.676 +/- 10.442 L(0 - 500) 
unmatched_MassCBalpha = -0.442018 +/- 0.21113 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 19.702 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82055 +/- 0.0028389 L(0 - 1) 

   [Observables]
