
   [Parameters]
matched_MassCBmean =  200.42 +/- 0.21559 L(180 - 800) 
matched_MassCBsigma =  3.2169 +/- 0.44917 L(1 - 100) 
matched_MassCBalpha1 =  0.94727 +/- 0.15522 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 19.980 L(0 - 20) 
matched_MassCBalpha2 =  0.75603 +/- 0.12269 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 14.355 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -17.8426 +/- 1.3624 L(-800 - -1) 
unmatched_Mass_turn =  200.30 +/- 103.06 L(200 - 800) 
unmatched_Mass_stop =  7.2104 +/- 143.69 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  2.4413 +/- 2.5034 L(0 - 500) 
unmatched_MassCBalpha = -0.125207 +/- 0.12674 L(-10 - 10) 
unmatched_MassCBn =  2.8626 +/- 0.83107 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.90064 +/- 0.0093673 L(0 - 1) 

   [Observables]
