
   [Parameters]
matched_MassCBmean =  406.14 C L(200 - 800) 
matched_MassCBsigma =  19.948 +/- 0.49949 L(1 - 100) 
matched_MassCBalpha1 =  1.1065 +/- 0.045438 L(0 - 20) 
matched_MassCBn1 =  5.1919 +/- 0.61640 L(0 - 20) 
matched_MassCBalpha2 =  1.0419 +/- 0.035492 L(0 - 20) 
matched_MassCBn2 =  3.3866 +/- 0.20395 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -15.8826 +/- 67.083 L(-800 - -1) 
unmatched_Mass_turn =  310.05 +/- 34.350 L(200 - 800) 
unmatched_Mass_stop =  191.63 +/- 111.31 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  49.894 +/- 33.844 L(0 - 500) 
unmatched_MassCBalpha = -0.604826 +/- 0.28341 L(-10 - 10) 
unmatched_MassCBn =  8.0211 +/- 7.1876 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.94155 +/- 0.0026811 L(0 - 1) 

   [Observables]
