
   [Parameters]
matched_MassCBmean =  231.45 C L(180 - 800) 
matched_MassCBsigma =  5.5212 +/- 0.10319 L(1 - 100) 
matched_MassCBalpha1 =  0.95472 +/- 0.025151 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 1.0411 L(0 - 20) 
matched_MassCBalpha2 =  1.0880 +/- 0.031076 L(0 - 20) 
matched_MassCBn2 =  7.1287 +/- 0.75542 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -63.9692 +/- 37.832 L(-800 - -1) 
unmatched_Mass_turn =  259.55 +/- 3.8581 L(200 - 800) 
unmatched_Mass_stop =  1.5928 +/- 22.182 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  26.647 +/- 2.2717 L(0 - 500) 
unmatched_MassCBalpha = -0.778438 +/- 0.052940 L(-10 - 10) 
unmatched_MassCBn =  5.6585 +/- 0.90123 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.65080 +/- 0.0049492 L(0 - 1) 

   [Observables]
