
   [Parameters]
matched_MassCBmean =  210.14 C L(180 - 800) 
matched_MassCBsigma =  4.6115 +/- 0.14148 L(1 - 100) 
matched_MassCBalpha1 =  1.3872 +/- 0.075141 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 12.316 L(0 - 20) 
matched_MassCBalpha2 =  1.2365 +/- 0.072848 L(0 - 20) 
matched_MassCBn2 =  4.9667 +/- 0.61575 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -71.8590 +/- 0.54061 L(-800 - -1) 
unmatched_Mass_turn =  261.15 +/- 0.64945 L(200 - 800) 
unmatched_Mass_stop =  1.0000 +/- 0.29448 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  18.569 +/- 1.3689 L(0 - 500) 
unmatched_MassCBalpha = -0.966444 +/- 0.094462 L(-10 - 10) 
unmatched_MassCBn =  3.6304 +/- 0.53411 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.69097 +/- 0.0063378 L(0 - 1) 

   [Observables]
