
   [Parameters]
matched_MassCBmean =  355.96 C L(200 - 800) 
matched_MassCBsigma =  13.064 +/- 0.43728 L(1 - 100) 
matched_MassCBalpha1 =  1.0180 +/- 0.057274 L(0 - 20) 
matched_MassCBn1 =  5.5069 +/- 0.64103 L(0 - 20) 
matched_MassCBalpha2 =  0.99714 +/- 0.044049 L(0 - 20) 
matched_MassCBn2 =  4.9968 +/- 0.35841 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -93.9145 +/- 2.6531 L(-800 - -1) 
unmatched_Mass_turn =  277.11 +/- 2.3564 L(200 - 800) 
unmatched_Mass_stop =  152.67 +/- 9.1010 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  8.0015 +/- 3.2814 L(0 - 500) 
unmatched_MassCBalpha = -0.145465 +/- 0.060485 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 13.536 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.77044 +/- 0.0034540 L(0 - 1) 

   [Observables]
