
   [Parameters]
matched_MassCBmean =  527.24 C L(200 - 800) 
matched_MassCBsigma =  46.036 +/- 0.33009 L(1 - 100) 
matched_MassCBalpha1 =  1.1200 +/- 0.012500 L(0 - 20) 
matched_MassCBn1 =  4.5763 +/- 0.19959 L(0 - 20) 
matched_MassCBalpha2 =  1.1123 +/- 0.013606 L(0 - 20) 
matched_MassCBn2 =  20.000 +/- 1.0766 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -5.74011 +/- 633.83 L(-800 - -1) 
unmatched_Mass_turn =  271.26 +/- 20.843 L(200 - 800) 
unmatched_Mass_stop =  404.56 +/- 5.9082 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  46.340 +/- 3.0142 L(0 - 500) 
unmatched_MassCBalpha = -0.887880 +/- 0.040486 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 15.612 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.82661 +/- 0.0020379 L(0 - 1) 

   [Observables]
