
   [Parameters]
matched_MassCBmean =  210.14 C L(180 - 800) 
matched_MassCBsigma =  4.3691 +/- 0.33738 L(1 - 100) 
matched_MassCBalpha1 =  1.0595 +/- 0.11409 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 17.272 L(0 - 20) 
matched_MassCBalpha2 =  0.95486 +/- 0.12150 L(0 - 20) 
matched_MassCBn2 =  14.903 +/- 15.557 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -67.0265 +/- 12.398 L(-800 - -1) 
unmatched_Mass_turn =  249.90 +/- 1.9665 L(200 - 800) 
unmatched_Mass_stop =  1.0149 +/- 2.4364 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  23.571 +/- 7.6427 L(0 - 500) 
unmatched_MassCBalpha = -0.596835 +/- 0.22722 L(-10 - 10) 
unmatched_MassCBn =  17.296 +/- 15.813 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.89503 +/- 0.0081842 L(0 - 1) 

   [Observables]
