
   [Parameters]
matched_MassCBmean =  406.14 C L(200 - 800) 
matched_MassCBsigma =  19.071 +/- 0.57940 L(1 - 100) 
matched_MassCBalpha1 =  1.0690 +/- 0.050123 L(0 - 20) 
matched_MassCBn1 =  3.9474 +/- 0.34886 L(0 - 20) 
matched_MassCBalpha2 =  0.87975 +/- 0.036664 L(0 - 20) 
matched_MassCBn2 =  4.6720 +/- 0.31311 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -88.9786 +/- 7.0659 L(-800 - -1) 
unmatched_Mass_turn =  278.31 +/- 6.2371 L(200 - 800) 
unmatched_Mass_stop =  227.84 +/- 9.8617 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  12.414 +/- 8.9451 L(0 - 500) 
unmatched_MassCBalpha = -0.222340 +/- 0.16210 L(-10 - 10) 
unmatched_MassCBn =  20.000 +/- 13.200 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.79688 +/- 0.0030944 L(0 - 1) 

   [Observables]
