
   [Parameters]
matched_MassCBmean =  503.52 C L(200 - 800) 
matched_MassCBsigma =  35.091 +/- 0.40027 L(1 - 100) 
matched_MassCBalpha1 =  0.97302 +/- 0.015466 L(0 - 20) 
matched_MassCBn1 =  5.7929 +/- 0.37668 L(0 - 20) 
matched_MassCBalpha2 =  0.82587 +/- 0.012881 L(0 - 20) 
matched_MassCBn2 =  9.7633 +/- 1.0073 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -1.11816 +/- 590.11 L(-800 - -1) 
unmatched_Mass_turn =  294.27 +/- 72.903 L(200 - 800) 
unmatched_Mass_stop =  301.60 +/- 71.073 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  55.547 +/- 31.716 L(0 - 500) 
unmatched_MassCBalpha = -0.485286 +/- 0.11859 L(-10 - 10) 
unmatched_MassCBn =  19.998 +/- 18.799 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.95778 +/- 0.0016310 L(0 - 1) 

   [Observables]
