
   [Parameters]
matched_MassCBmean =  252.60 C L(200 - 800) 
matched_MassCBsigma =  5.4682 +/- 0.27314 L(1 - 100) 
matched_MassCBalpha1 =  0.80258 +/- 0.047239 L(0 - 20) 
matched_MassCBn1 =  20.000 +/- 0.79975 L(0 - 20) 
matched_MassCBalpha2 =  0.93194 +/- 0.056443 L(0 - 20) 
matched_MassCBn2 =  8.1460 +/- 1.1320 L(0 - 20) 
matchsel_njets = match
unmatched_Mass_start = -37.7567 +/- 1.0895 L(-800 - -1) 
unmatched_Mass_turn =  239.50 +/- 0.94194 L(200 - 800) 
unmatched_Mass_stop =  82.292 +/- 5.4402 L(1 - 800) 
unmatched_MassCBmean =  0.0000 C L(-INF - +INF) 
unmatched_MassCBsigma =  12.758 +/- 1.1568 L(0 - 500) 
unmatched_MassCBalpha = -0.444946 +/- 0.062227 L(-10 - 10) 
unmatched_MassCBn =  7.7454 +/- 2.0283 L(0 - 20) 
unmatchedsel_njets = nomatch
N_matched =  0.77189 +/- 0.0039620 L(0 - 1) 

   [Observables]
